# Visual Studio
.vs/
bin/*
obj/*
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/

# Build outputs
**/bin/
**/obj/

# Logs
logs/

# NuGet
*.nupkg
.nuget/
packages/
**/packages/*
!**/packages/build/

# Rider
.idea/

# Misc
Thumbs.db
Desktop.ini
*.log
/.trae/